<section class="side-bar">
  <div>
    <h1>Distributeur</h1>
    <ul>
      <li routerLinkActive="active">
        <a routerLink="/distributeur/dashbord">Dashbord</a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="/distributeur/gestion-distrib-reabonnement">Reabonnement</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/distributeur/gestion-distrib-installation">Recrutement sans parabole</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/distributeur/gestion-distrib-inst-with-parabolle">Recrutement avec parabole</a>
      </li>
    </ul>
  </div>

  <div>
    <div style="margin-block: 14px;">
      <a class="logout" (click)="logout()">Logout</a>
    </div>
    <p
      style="
        text-align: center;
        font-size: clamp(0.8rem, 3vw, 0.9rem);
        font-weight: 500;
      "
    >
      Tout droit reserve ® {{ date.getFullYear() }}
    </p>
  </div>
</section>
