<section>
  <form [formGroup]="offreForm" (ngSubmit)="handleSubmit()">
    <h1>Ajouter une nouvelle offre</h1>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>bouquet</mat-label>
        <input
          formControlName="bouquet"
          type="text"
          matInput
          placeholder="Ex. Access"
        />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Montant</mat-label>
        <input
          formControlName="montant"
          type="number"
          matInput
          placeholder="Ex. 5500"
        />
      </mat-form-field>
    </div>
    <div>
      <button class="btn-offre" [disabled]="!offreForm.valid" mat-raised-button>Ajouter</button>
    </div>
  </form>
</section>
