section {
  /* padding: 24px; */
  margin-block-start: 34px;
  position: relative;
}
#map {
  border-radius: 8px;
  height: 69vh;
  width: auto;
  /* margin-top: 25px;
  margin-right: 20px;
  margin-left: 20px; */
  z-index: 0;
}

@media only screen and (max-width: 572px) {
  #map{
    height: 39vh;
  }
}
