section{
    padding: 42px;
    border: 1px solid #c1c1c1;
}

h1{
    font-size: clamp(1.3rem,3vw,1.5rem);
    font-weight: 600;
    color: #215caa;
}

.btn-dmd{
    background: var(--background-color-01);
    color: #ffff;
}

.btn-annuler{
    margin-inline-start: 56px;
    background:red ;
    color: #fff;
}

@media only screen and (max-width: 430px) {
  section{
    padding: 12px;
  }
    .btn-annuler{
        margin-inline-start: 44px;

    }
}
