<section>
  <div class="indicateur-container">
    <span>Commission: 5000</span> <span>Clients : 5</span> <span>Chiffre : 100000 CFA</span>
  </div>
  <!-- <div class="indicateur-container">
    <div
        class="indicateur-container"
        style="margin-block: 8px; background: #fff; padding: 6px"
      >
        <div class="indice">
          <p>Commision</p>
          <p>5000</p>
        </div>
        <div class="indice">
          <p>Clients</p>
          <p>5</p>
        </div>
        <div class="indice">
          <p>Chiffre d'affaire globale</p>
          <p>1.000.000 CFA</p>
        </div>
      </div>
  </div> -->

  <div class="notification">
    <div>
      <h1 style="padding: 12px">Reabonnement en attente</h1>
      <app-reabonnement-attente />
    </div>
    <div>
      <h1 style="padding: 12px">Installation en attente</h1>
      <app-installation-attente />
    </div>
  </div>
</section>
