<section>
  <div class="indicateur-container mat-elevation-z1">
    <span>Commission: <strong>5000</strong> </span>
    <span>Clients : <strong>5</strong> </span>
    <span>Chiffre : <strong>100000 CFA</strong></span>
  </div>
  <!-- <div class="indicateur-container">
    <div
        class="indicateur-container"
        style="margin-block: 8px; background: #fff; padding: 6px"
      >
        <div class="indice">
          <p>Commision</p>
          <p>5000</p>
        </div>
        <div class="indice">
          <p>Clients</p>
          <p>5</p>
        </div>
        <div class="indice">
          <p>Chiffre d'affaire globale</p>
          <p>1.000.000 CFA</p>
        </div>
      </div>
  </div> -->

  <div class="notification">
    <div class="mat-elevation-z2 demande-tab">
      <app-reabo-distrib-attente />
    </div>
    <div class="mat-elevation-z2 demande-tab">
      <app-recru-distrib-attente />
    </div>
  </div>
</section>
