section {
    padding: 24px;
}

h2{
    padding-inline: 14px ;
}

.custom-filtre {
    height: 140px;
    width: 100%;
    background: #262626;
    color: #fff;
    padding: 24px;
    margin-block-end: 24px;
}

@media only screen and (max-width: 730px){
    section {
        overflow-x: scroll;
    }
}