section {
  padding: 24px;
  background: #ffff;
}

table {
  width: 100%;
}

.custom-filtre{
  height: 140px;
  width: 100%;
  background: #262626;
  color: #fff;
  padding: 24px;
  margin-block-end: 24px;
}

@media only screen and (max-width: 730px){
  section {
      overflow-x: scroll;
  }
}
