<section>
  <div class="indicateur-container">
    <div class="indice">
      <p class="in-prefixe">5</p>
      <div>
        <p>+</p>
        <p>Distributeurs</p>
      </div>
    </div>
    <div class="indice">
      <p class="in-prefixe">5</p>
      <div>
        <p>+</p>
        <p>Clients</p>
      </div>
    </div>
    <div class="indice">
      <p class="in-prefixe">1.000.000 CFA</p>
      <div>
        <p>+</p>
        <p>Chiffre d'affaire globale</p>
      </div>
    </div>
  </div>

  <div class="notification">
    
    <div>
      <h1 style="padding: 12px;">Reabonnement en attente</h1>
        <app-reabonnement-attente/>
    </div>
    <div>
      <h1 style="padding: 12px;">Installation en attente</h1>
      <app-installation-attente/>
    </div>
  </div>

  <app-distributeur-carte/>
  <!-- <div class="mat-elevation-z2" id="myMap">
    
  </div> -->
</section>
