<section>
  <h1 class="dash">Dashbord</h1>

  <div class="indicateur-container">
    <div class="indice">
      <div>
        <img src="/assets/img/person-circle-fill-svgrepo-com.svg" alt="" />
      </div>
      <div>
        <p>Distributeurs</p>
        <p class="indice-value">{{ nbrDistrib }}</p>
      </div>
    </div>
    <div class="indice">
      <div>
        <img src="/assets/img/client-profile-svgrepo-com.svg" alt="" />
      </div>
      <div>
        <p>Clients</p>
        <p class="indice-value">{{ nbrClients }}</p>
      </div>
    </div>
    <div class="indice">
      <div>
        <img
          src="/assets/img/money-turnover-bill-line-svgrepo-com.svg"
          alt=""
        />
      </div>
      <div>
        <p>Chiffre d'affaire globale</p>
        <p class="indice-value">{{ ca }} CFA</p>
      </div>
    </div>
  </div>

  <!-- <div>
    <button mat-raised-button (click)="openDialogOffre()">Ajouter Offre</button>
  </div> -->
  <div class="notification">
    <div>
      <div class="info-demande-attente">
        <app-reabonnement-attente />
      </div>
      <div class="info-demande-attente">
        <app-installation-attente />
      </div>
    </div>

    <div >
      <div class="mat-elevation-z2 ang-box" style="padding: 6px">
        <div class="offre-head">
          <h3>Offres</h3>

          <button
            class="btn-add-offre"
            mat-icon-button
            (click)="openDialogOffre()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <div>
          <div class="grid-table head">
            <p>Offre</p>
            <p>Montant</p>
            <p></p>
          </div>
          <div *ngFor="let offre of listOffre" class="grid-table offre">
            <p>
              {{ offre.bouquet }}
            </p>
            <p>{{ offre.montant }} Francs CFA</p>
            <p style="justify-content: end; padding-inline-end: 24px">
              <button
                class="btn-add-offre"
                mat-icon-button
                (click)="modifDialogOffre(offre)"
              >
                <mat-icon style="font-size: 24px">edit</mat-icon>
              </button>
            </p>
          </div>
          <!-- <p *ngFor="let offre of listOffre">
            {{offre.bouquet}} {{offre.montant}}
          </p> -->
        </div>
      </div>
    </div>
  </div>

  <app-distributeur-carte />
  <!-- <div class="mat-elevation-z2" id="myMap">

  </div> -->
</section>
