<section>
  <h1 class="dash">Dashbord</h1>
  
  <!-- <div>
    <button mat-raised-button (click)="openDialogOffre()">Ajouter Offre</button>
  </div> -->
  <div class="notification">
    <div>
      <div class="indicateur-container" style="margin-block: 8px;background: #fff;padding: 6px;">
        <div class="indice">
          <p>Distributeurs</p>
          <p>5</p>
        </div>
        <div class="indice">
          <p>Clients</p>
          <p >5</p>
        </div>
        <div class="indice">
          <p>Chiffre d'affaire globale</p>
          <p>1.000.000 CFA</p>
        </div>
      </div>
      <div style="margin-block: 8px;background: #fff;padding: 6px;">
        <h3>Les differentes offres</h3>
      </div>
      
    </div>

    <div>
      <div class="info-demande-attente">
        <h3 style="padding: 12px; font-weight: 400">Reabonnement en attente</h3>
        <app-reabonnement-attente />
      </div>
      <div class="info-demande-attente">
        <h3 style="padding: 12px; font-weight: 400">Installation en attente</h3>
        <app-installation-attente />
      </div>
    </div>
  </div>

  <app-distributeur-carte />
  <!-- <div class="mat-elevation-z2" id="myMap">
    
  </div> -->
</section>
