section {
    padding: 24px;
    background: var(--body-color);
}

.dash{
    font-size: clamp(1.5rem,3vw,2rem);
    font-weight: 600;
}

/* .custom-filtre {
    height: 140px;
    width: 100%;
    background: #262626;
    color: #fff;
    padding: 24px;
    margin-block-end: 24px;
} */

.indicateur-container {
    display: flex;
    gap: 14px;
}

h1{
    color: var(--text-color-03);
}

.indice {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    background: #c1c1c13a;
    color: var(--text-color-02);
    width: fit-content;
    padding: 8px;
    border-radius: 4px;
}

.indice p:first-child{
    font-weight: 600;
}

.indice p{
    letter-spacing: 1px;
    margin: 0;
}

.in-prefixe {
    font-size: clamp(1rem,3vw,1.5rem);
}

.notification {
    display: grid;
    gap: 24px;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    margin-block: 24px;
}

.notification>div {
    /* border: 1px solid #c1c1c1; */
}

.info-demande-attente{
    background: #fff;
}

#myMap {
    margin-block-start: 12px;
    height: 350px !important;
    width: auto !important;
    /* margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px; */
    z-index: 0;
}