
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  h1{
    font-size: clamp(1.1rem,3vw,2rem);
    font-weight: 400;
    /* line-height: 1.6; */
  }

  .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
  }

  button {
    background: #0267c1 !important;
    color: #ffffff !important;
  }

  button:disabled {
    background: #c1c1c186 !important;
    color: #262626;
  }

  @media only screen and (max-width: 730px) {
   .form-grid{
    grid-template-columns: 1fr;
   }
}
