<section class="mat-elevation-z2">
  <h1>Demande de reabonnement</h1>

  <form [formGroup]="reaboForm" (ngSubmit)="handleSubmit()">
    <div class="form-grid">
      <div formGroupName="demande">
        <mat-form-field class="full-width">
          <mat-label>Duree Abonnement</mat-label>
          <mat-select formControlName="duree_abonnement">
            <mat-option value="1">1 mois</mat-option>
            <mat-option value="3">3 mois</mat-option>
            <mat-option value="6">6 mois</mat-option>
            <mat-option value="12">12 mois</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width">
          <mat-label>Bouquet</mat-label>
          <mat-select formControlName="bouquet">
            <mat-option
              *ngFor="let offre of listeOffres$"
              [value]="offre.bouquet"
              >{{ offre.bouquet }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="form-grid">
      <mat-form-field class="full-width">
        <mat-label>Numero decodeur</mat-label>
        <input
          matInput
          placeholder="Ex. 2782000022022"
          formControlName="numero_decodeur"
        />
      </mat-form-field>
      <!-- <mat-form-field class="example-full-width">
        <mat-label>prenom</mat-label>
        <input matInput placeholder="Ex. Pierre" />
      </mat-form-field> -->
    </div>

    <div class="form-grid">
      <button mat-raised-button type="submit">Enregistrer</button>
    </div>
  </form>
</section>
