
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  h1{
    font-size: clamp(1.1rem,3vw,2rem);
    font-weight: 500;
  }
  
  .full-width {
    width: 100%;
  }
  
  .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
  }
  
  button {
    background: #0267c1 !important;
    color: #ffffff !important;
  }

  @media only screen and (max-width: 430px) {
    .form-grid{
      grid-template-columns: 1fr;
    }
  }