<section>
  <h2 mat-dialog-title *ngIf="!modeVue"> Validation de la demande - {{ demande.offre.bouquet }}</h2>
  <h2 mat-dialog-title *ngIf="modeVue">Detail demande</h2>
  <form>
    <mat-dialog-content class="mat-typography">
      <div class="date-validation" *ngIf="!modeVue">
        <h2>Entrer la date effectif de debut d'abonnement</h2>
        <mat-form-field color="accent">
          <mat-label>Debut abonnement</mat-label>
          <input [formControl]="date" matInput [matDatepicker]="picker2">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 color="primary"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="distrib-info-content">
        <h3>Information sur le distributeur</h3>
        <div class="grid-info">
          <p>Distributeur</p>
          <p class="info">{{ demande.distributeur.nom }} {{ demande.distributeur.prenom }}</p>
          <p>Localité</p>
          <p class="info">{{ demande.distributeur.localite }}</p>
          <p>Telephone</p>
          <p class="info">{{ demande.distributeur.telephone }}</p>
        </div>

        <h3>Information sur le client</h3>

        <div class="grid-info">
          <p >Client</p>
          <p class="info">{{ demande.client.nom }} {{ demande.client.prenom }}</p>
          <p>Telephone</p>
          <p class="info">{{ demande.client.telephone }}</p>
          <p>Decodeur</p>
          <p class="info">{{ demande.client.decodeur }}</p>
        </div>
      </div>

      <h3>Information sur la demande</h3>
      <div class="grid-info">
        <p>Type de demande</p>
        <p class="info">{{ demande.typeDemande }}</p>
        <p>Date de la demande</p>
        <p class="info">{{ demande.date_demande | date : "shortDate" : "fr-FR" }}</p>
        <p>Commission</p>
        <p class="info">{{ demande.commission }} Francs CFA</p>
        <p>Montant Versé</p>
        <p class="info">{{ demande.montantDemande }} Francs CFA</p>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end" >
      <button mat-button mat-dialog-close>Fermer</button>
      <button *ngIf="!modeVue" mat-button (click)="handleSubmit()" [mat-dialog-close]="true" cdkFocusInitial>
        Valider
      </button>
    </mat-dialog-actions>
  </form>
</section>
